.container{
    padding: 30px 40px;
    background-color: darkslategrey;
    height: 9vh;
}
.container2{
    padding: 30px 40px;
    background-color: darkslategrey;
    height: 91.5vh;
}

.title{
    margin: 0;
}

.list{
    list-style: none;
    display: flex;
    margin-left: 5px;
    padding: 0;
}
.list li{
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}

.selected{
    background-color: crimson;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid transparent;
}

